@import url(./content-title.css);
@import url(./content-subtitle.css);
@import url(./__bg.css);
@import url(./__image.css);
@import url(./__rect.css);

@import url(./__item.css);
@import url(./__content-subtitle.css);
@import url(./__content-title.css);
@import url(./__container.css);
@import url(./__icon-play.css);
@import url(./__duration.css);
@import url(./__video__title.css);
@import url(./__video__subtitle.css);

.video {
    margin: 102px auto 0 auto;
}
@media screen and (max-width: 1024px){
    .video__container{
        margin: 0 5%;
    }
    .video__item{
        width: 49.24%;
        min-height: 288px;
    }
    .video__title{
        width: 80%;
    }
}
@media screen and (max-width: 900px){
    .video__container{
        margin: 0 5%;
    }
    .video__content-title{
        width: 70%;
    }
    .content-title{
        font-size: 42px;
        line-height: 46px;
    }
    .video__title{
        font-size: 24px;
        line-height: 26px;
    }
    .video__content-subtitle{
        width: 90%;
    }
    .video__item{
        width: 49.24%;
        min-height: 200px;
    }
    .video__icon-play{
        margin: 24px 0 0 24px;
    }
    .video__title{
        margin-left: 24px;
    }
    .video__duration{
        margin-left: 24px;
    }
    .video__subtitle{
        margin-left: 24px;
    }
}
@media screen and (max-width: 700px){
    .video__content-title{
        width: 70%;
        margin: 0 auto 16px auto;
    }
    .content-title{
        font-size: 32px;
        line-height: 35px;
    }
    .video__content-subtitle{
        width: 100%;
        margin: 0 0 24px 0;
    }
    .content-subtitle{
        font-size: 16px;
        line-height: 23px;
    }
    .video__container{
        flex-direction: column;
    }
    .video__item{
        width: 343px;
        min-height: 200px;
    }
    .video__item:last-of-type{
        margin-top: 8px;
    }
    .video__icon-play{
        margin: 16px 0 0 16px;
    }
    .video__duration{
        margin: auto auto 8px 16px;
    }
    .video__title{
        margin-left: 16px;

        font-size: 24px;
        line-height: 26px;
    }
    .video__subtitle{
        margin-left: 16px;

        font-size: 14px;
        line-height: 15px;
    }
}
@media screen and (max-width: 500px){
    .video__content-title{
        width: 100%;
    }
    .video__container{
        margin: 0;
    }
}
@media screen and (max-width: 400px){
    .video__icon-play{
        margin: 16px 0 0 16px;
    }
    .video__item{
        width: 288px;
        min-height: 192px;
    }
}