@import url(./__item.css);

.photo-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    margin: 30px auto 102px auto;
}
@media screen and (max-width: 1024px){
    .photo-grid{
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 14px;
    }
}
@media screen and (max-width: 850px){
    .photo-grid{
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 700px){
    .photo-grid{
        grid-template-rows: none;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 320px){
    .photo-grid{
        grid-gap: 8px;
    }
}