@import url(./__title.css);
@import url(./__subtitle.css);
@import url(./__text.css);
@import url(./__text_size-m.css);
@import url(./__text_bold.css);
@import url(./__list.css);
@import url(./__item.css);

.intro{
    margin: 80px auto 85px auto;
}
@media screen and (min-width: 1025px){
    .intro__content-row{
        margin-top: 48px;
    }
}
@media screen and (max-width: 1024px){
    .intro__content-row{
        margin: 48px 0 24px 0;
    }
}
@media screen and (max-width: 768px){
    .intro__content-row{
        margin: 48px 0 24px 0;
    }
}
@media screen and (max-width: 425px){
    .intro__title{
        font-size: 32px;
        line-height: 35px;
    }

    .intro__content-row{
        margin: 32px 0 32px 0;
    }

    .intro__text{
        font-size: 16px;
        line-height: 169.43%;
    }

    .intro__text_size-m{
        font-size: 12px;
        line-height: 19px;
    }
}
