@import url(./__title.css);
@import url(./__subtitle.css);
@import url(./__image.css);
@import url(./__caption.css);

.lead {
    margin: 48px auto 0 auto;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 1024px){
    .lead__title{
        width: 68.5%;
    }
    .lead__subtitle{
        width: 50%;
    }
}
@media screen and (max-width: 1024px){
    .lead__subtitle{
        width: 60%;
    }
}
@media screen and (max-width: 950px){
    .lead__title{
        width: 100%;
        margin: 0 auto 0 auto;
    }
    .lead__subtitle{
        width: 85%;
        margin: 48px auto 0 auto;
    }
    .lead__caption{
        margin: 16px auto 0 24px;
    }
}
@media screen and (max-width:700px){
    .lead__title{
        width: 80%;

        font-size: 40px;
        line-height: 44px;
    }
}
@media screen and (max-width: 425px){
    .lead__title{
        width: 70%;

        font-size: 40px;
        line-height: 44px;
    }

    .lead__subtitle{
        width: 80%;
        margin: 8px auto 0 auto;

        font-size: 16px;
        line-height: 23px;
    }

    .lead__image{
        margin-top: 32px;
    }
    
    .lead__caption{
        margin: 8px auto 0 16px;
    }
}
@media screen and (max-width: 320px){
    .lead__title{
        width: 100%;
    }
}