.cover__subtitle{
    z-index: 1;
    width: 35%;
    margin: 10% auto auto auto;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}