@import url(./__title.css);
@import url(./__subtitle.css);
@import url(./__bg.css);
@import url(./__rect.css);
@import url(./__link.css);

.cover{
    margin: 0 auto 85px auto;
    display: flex;
    flex-direction: column;
}

.cover:hover .cover__rect{
    background-color: black;
    opacity: 0.8;
}
@media screen and (min-width: 1184px){
    .cover__link{
        min-height: 594px;
    }
}
@media screen and (max-width: 1024px){
    .cover__link{
        min-height: 562px;
    }
    .cover__title{
        margin: 20% 22.5% auto 22.5%;
    }
}
@media screen and (max-width: 950px){
    .cover__title{
        margin: 20% 18% auto 18%;
    }
}
@media screen and (max-width: 800px){
    .cover__link{
        min-height: 500px;
    }
    .cover__title{
        margin: 20% 13% 0 13%;
    }
    .cover__subtitle{
        margin-top: 8%;
    }
}
@media screen and (max-width: 720px){
    .cover__link{
        min-height: 272px;
    }
    .cover__title{
        margin: 20% 25% 0 25%;

        font-size: 32px;
        line-height: 35px;
    }
    .cover__subtitle{
        margin-top: 5%;

        font-size: 14px;
        line-height: 17px;
    }
}    
@media screen and (max-width: 565px){
    .cover__title{
        margin: 20% 20% 0 20%;
    }
    .cover__subtitle{
        width: 60%;
    }
}
@media screen and (max-width: 375px){
    .cover__title{
        margin: 25% 15% 0 15%;
    }
}
@media screen and (max-width: 320px){
    .cover__title{
        margin: 64px 13% 0 13%;
    }
    .cover__subtitle{
        width: 80%;
        margin: 8px auto 0 auto;
    }
    .cover__link{
        min-height: 216px;
    }
}